/* 1000px */
@media (max-width: 62em) {
  html {
    font-size: 50%;
  }
}

/* 800px */
@media (max-width: 50em) {
  html {
    font-size: 45%;
  }

  .title {
    font-size: 3.4rem;
  }

  .centered {
    max-width: 90%;
  }

  .ui {
    column-gap: 2rem;
  }
  .right-ui {
    width: 60%;
    font-size: 1.6rem;
    row-gap: 0.5rem;
  }
}

/* 450px */
@media (max-width: 28em) {
  .header-range,
  .title,
  .display {
    position: relative;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 2rem;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    text-align: center;
    transform: translate(0);
  }

  .header-range {
    width: 80%;
  }

  .display {
    width: 50%;
  }

  .header {
    display: flex;
    flex-direction: column;
    margin-bottom: 20rem;
  }

  .title {
    margin-bottom: 4rem;
  }

  .ui {
    font-size: 1.8rem;
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .right-ui {
    font-size: inherit;
    text-align: center;
    width: 95%;
    row-gap: 2.4rem;
    margin-bottom: 8rem;
  }

  .user-input {
    font-size: inherit;
    width: 14rem;
    padding: 1.6rem 0;
    background-color: inherit;
    color: #f7f7f7;
    border: solid 2px #f7f7f7;
  }

  .left-ui {
    font-size: inherit;
    flex-direction: row;
    position: fixed;
    bottom: 1rem;
    left: 30%;
    top: auto;
    right: auto;
    transform: translateX(-50%);
    margin-bottom: 1rem;
  }

  .result-hint {
    line-height: 1.8;
    position: fixed;
    bottom: 15%;
    left: 50%;
    top: auto;
    right: auto;
    transform: translateX(-50%);
    margin-bottom: 1rem;
  }
  .button,
  .button-again {
    padding: 2rem 0.5rem;
    font-size: 1.6rem;
    width: min-content;
  }

  .button-again {
    position: fixed;
    bottom: 1rem;
    left: 70%;
    top: auto;
    right: auto;
    transform: translateX(-50%);
    margin-bottom: 1rem;
  }

  /* fixing animation */
  @keyframes horizontal-shaking {
    0% {
      transform: translateX(-50%) translateX(0);
    }
    25% {
      transform: translateX(-50%) translateX(0.5rem);
    }
    50% {
      transform: translateX(-50%) translateX(-0.5rem);
    }
    75% {
      transform: translateX(-50%) translateX(0.5rem);
    }
    100% {
      transform: translateX(-50%) translateX(0);
    }
  }
}
